

/*  Import all of Bootstrap's CSS */
@import "../node_modules/bootstrap/scss/bootstrap.scss";




html, body{
  margin: 0; 
  padding: 0; 
  height: 100%;
}

#root{
  margin: 0; 
  padding: 0; 
  height: 100%;

}

.navbar-custom {
  background-color: #224073;
  
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color:aliceblue
}

#btn-close-templeList{
  padding: 0;
  margin:0;
  margin-right: 10px;
  margin-left: 20px;
}

.defaultButton{
  background-color: #00338D;
  color:aliceblue;
}

.youtubeButton,
.youtubeButton:active,
.youtubeButton:focus{
  background-color: #ff0000 ;
  width: 100%;
  margin: 3px;
}

.facebookButton,
.facebookButton:active,
.facebookButton:focus,
.facebookButton:hover{
  background-color: #1b74e4 ;
  width: 100%;
  margin: 3px;
}

.pageButton,
.pageButton:active,
.pageButton:focus{
  background-color: #676767 ;
  width: 100%;
  margin: 3px;
}

#map-container{

    font-family : inherit;
    // font-size:  inherit;
    line-height: inherit;

}

@media (min-width: 576px) {
  #cardList  {
    min-width: 110px;
    
    width: 13vw;
    margin:5px
  }
  #map-container {
    height: calc(100vh - 57px);
    width: 100vw;
  
  }
  
}
@media (max-width: 575px) {
  #cardList {
      //OPACIDAD QUE DESEES
      min-width: 110px;
      width: 30vw;
      margin:5px

  }

  #map-container {
    height: calc(100vh - 100px);
    // height: calc(100vh - 57px);
    width: 100vw;
  
  }
  
}




